@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua João Alves Tavares, 100<br />
    Vila Nova de Gaia, Porto - Portugal<br />
    <abbr title="Phone">P:+351 93 333 XXXX</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">herrera.ccp@gmail.com</a><br />
</address>